#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
  margin-top: 0;
  text-align: center;
}
.todo-container {
  border: 2px solid white;
  border-radius: 1rem;
  padding: 10px;
  padding-top: 30px;
  margin-bottom: 10px;
}
.todo-container form {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.todo-container form div {
  display: flex;
  flex-direction: column;
}
.todo-input,
.todo-textarea {
  width: 300px;
  height: 40px;
  border-style: none;
  font-size: 1rem;
  padding: 5px;
  padding-left: 1rem;
  border: 2px solid white;
  border-radius: 1rem;
  text-decoration: none;
  margin: 5px;
}

.todo-textarea {
  width: 300px;
  height: 90px;
  padding: 10px;
}
.todo-create-btn {
  border: 2px solid white;
  border-radius: 1rem;
  margin-left: 5px;
  width: 110px;
  height: 110px;
}
.card-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
